# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
.env.development
.env.production
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Test/coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
.pytest_cache/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Migrations
**/migrations/
